@model _23._1News.Models.Db.WeatherForecast

@{
    ViewData["Title"] = "GetWeatherForecast";
}

<h1>City Forecast</h1>
<form class="d-flex justify-content-center" asp-controller="Article" asp-action="GetWeatherForecast" enctype="multipart/form-data" method="get">
    <input name="city" class="form-control me-sm-2" type="search" placeholder="Search City">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<div>
    <h4>WeatherForecast</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperatureCelsius)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperatureCelsius)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperatureFahrenheit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperatureFahrenheit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnixTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnixTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
