@model IEnumerable<_23._1News.Models.Db.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}



<main>
    <div class="navbar navbar-expand" style="margin-top:50px">
        <partial name="_LoginPartial" />
    </div>

    <h1>News List</h1>
    <hr />
<div>

    <table id="" class="table table-bordered table-striped table-hover table-sm" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinkText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Headline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContentSummary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    Action
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LinkText)
                    </td>

                    <td style="width:150px;">
                        <img src="@item.BlobLink" class="card-img-top" alt="...">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Headline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentSummary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>

                      <a asp-action="Edit" asp-route-id="@item.Id" style="color:#2fa4e7">Edit </a>
                      <a asp-action="Details" asp-route-id="@item.Id" style="color:#2fa4e7">Details</a>
                      <a asp-action="Delete" asp-route-id="@item.Id" style="color:#2fa4e7">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
</main>