@model IEnumerable<_23._1News.Models.Db.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Editor") || User.IsInRole("Admin"))
 {

<p>
    <a asp-controller="Article" asp-action="Create">Create New</a>
</p>
 }
<div>
    <table id="myTable" class="table table-bordered table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlobLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>

                    
                   
                    @if (User.IsInRole("Editor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
 
                    }
                    @if (User.IsInRole("Editor"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
 
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
</div>