@model IEnumerable<_23._1News.Models.Db.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>News List</h1>
<hr />

@if (User.IsInRole("Editor"))
{
    <p>
        <a asp-controller="Article" asp-action="Create" class="btn btn-primary m-2">Create New</a>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary m-2">Back to Editor Page</a>
    </p>
}

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-controller="Article" asp-action="Create" class="btn btn-primary m-2">Create New</a>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary m-2">Back to Admin Page</a>
    </p>

}

<div>

    <table id="" class="table table-bordered table-striped table-hover table-sm" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinkText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Headline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContentSummary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    Action
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LinkText)
                    </td>

                    <td style="width:150px;">
                        <img src="@item.BlobLink" class="card-img-top" alt="...">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Headline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentSummary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @if (User.IsInRole("Editor"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>