@model IEnumerable<_23._1News.Models.Db.Article>

@{
    ViewData["Title"] = "News 23";
    var Headline = TempData["Headline"];
    
   
}


   

<div id="sidebar">

    <div class="row">
            <div class="col-md-12 text-md-center">
                <div class="text-md-center mb-5 bg-light">
                    <h4 class="bg-primary text-white">Latest News</h4>
                <vc:latest-news count="5"></vc:latest-news>
                </div>
             </div>
             <div class="col-md-12 text-md-center">
                <div class="text-md-center mb-5 bg-light">
                    <h4 class="bg-primary text-white">Editors Choice</h4>
                    <vc:editors-choice count="5"></vc:editors-choice>
                </div>
             </div>

     </div>

 </div>



<div id="main">

    <br />
    <div class="text-center">
        <h1 class="display-4"><strong>@Headline</strong></h1>

    </div>

    <br/>

    <div class="row">
    @foreach (var item in Model)
    {
                <div class="card col-md-11">
                    <img src="@item.BlobLink" class="card-img-top"  alt="...">
                    <div class="card-body">
                        <a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">
                            @*<h5 class="card-title">@item.LinkText</h5>*@
                                <h4 class="card-title mt-2">@item.Headline</h4>
                                <p class="card-text mt-2">@item.ContentSummary</p>
                            @*<p class="card-text">@item.Content</p>*@
                        </a>
                    </div>

                </div>
    }
    </div>

</div>





