@model IEnumerable<_23._1News.Models.Db.Article>

@{
    ViewData["Title"] = "News 23";
    var Headline = TempData["Headline"];
}

<section class="section">
    <div>
        <div class="container">
            <div class="content">
                <div class="row gx-5">
                    <div class="col-xl-8 col-lg-7 col-md-12">
                        <div class="row " style="margin-top:50px;">
                                    @foreach (var item in Model)
                                    {

                                            if (Context.Request.Cookies.TryGetValue("user_id", out string value))
                                            {

                                                TempData["ContentSummary"] = item.ContentSummary;

                                            }


                                        <div class="card col-md-11" style="margin-bottom:20px;">
                                    <a asp-route-id="@item.Category.CategoryId"><h5 style="margin:10px;">@item.Category.Name</h5></a>
                                            <h2 class="mt-2">@item.Headline</h2>
                                           
                                            <div class="card-body">
                                                <a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">
                                                <img src="@item.BlobLink" class="card-img-top" alt="...">
                                                    @*<h5 class="card-title">@item.LinkText</h5>*@

                                                    <p class="card-text mt-2">@TempData["ContentSummary"]</p>
                                                    @*<p class="card-text">@item.Content</p>*@
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-12" style="margin-top:50px;">
                        <div class="card mb-3">
                            <h3 class="card-header" style="color:white;background-color:#2fa4e7;">Latest News</h3>
                            <div class="card-body">
                                <vc:latest-news count="5"></vc:latest-news>

                            </div>
                        </div>
                        <br />
                        <div class="card mb-3">
                            <h3 class="card-header" style="color:white;background-color:#2fa4e7;">Editor choice</h3>
                            <div class="card-body">
                                <vc:editors-choice count="5"></vc:editors-choice>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   


</div>




