@page
@model _23._1News.Areas.Identity.Pages.Account.Manage.ManageCategoriesModel

@using _23._1News.Models.Db

@{
    ViewData["Title"] = "Manage Categories";
    // var cate = TempData["success"];

    var ok = TempData["data"];
          


}

<h2>@ViewData["Title"]</h2>


<p>Choosen: </p>

    







<form method="post">
    <div>
        <label>Select Category:</label>

        @foreach (var category in Model.Categories)
        {
            <div>
                <input type="radio" name="SelectCategoryId" value="@category.CategoryId" id="@($"category_{category.CategoryId}")">
                <label for="@($"category_{category.CategoryId}")">@category.Name</label>

              
               
           </div>
                

        }
      
     
    </div>
    <br>
    <div>
       
        <input type="submit" class="btn btn-primary" value="Submit">
        
        
    </div>
</form>




<!-- Display validation errors -->
@if (Model.ModelState.ErrorCount > 0)
{
    <div>
        <p>Please fix the following errors:</p>
        <ul>
            @foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li style="color: red">@error.ErrorMessage</li>
            }
        </ul>
    </div>
}



@* <div>
    <p>Your selected category is: @cate</p>§

</div> *@

<div>
    @* <p>Your selected category(Session) is: @HttpContext.Session.GetInt32("SelectedCategoryId")</p> *@
    <p>
        Your selected Newsletter category: <span style="color: orange"><strong> @HttpContext.Session.GetString("SelectedCategoryName")</strong></span>
    </p>

</div>




