@model IEnumerable<_23._1News.Models.Db.Subscription>

@{
    ViewData["Title"] = "Subscription List";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}


<main>
    <div class="navbar navbar-expand" style="margin-top:50px">
        <partial name="_LoginPartial" />
    </div>

    <h1>Subscription List</h1>

<div class="table-responsive small">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Price
                </th>
                <th>
                    CreatedDate
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    PaymentComplete
                </th>
                <th>
                    SubscriptionTypeId
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentComplete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubscriptionTypeId)
                    </td>
                    <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" style="color:#2fa4e7">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" style="color:#2fa4e7">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" style="color:#2fa4e7">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</main>
       
        




