@model IEnumerable<_23._1News.Models.Db.Subscription>

@{
    ViewData["Title"] = "Index";
}


<h1>Subscription List</h1>
<hr />
<p>
   <a asp-controller="Admin" asp-action="Index" class="btn btn-primary m-2">Back to Admin Page</a>
</p>

<div class="table-responsive small">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Price
                </th>
                <th>
                    CreatedDate
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    PaymentComplete
                </th>
                <th>
                    SubscriptionTypeId
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentComplete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubscriptionTypeId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
       
        




