@model IEnumerable<_23._1News.Models.Db.SubscriptionType>

@{
    ViewData["Title"] = "SubscriptionTypeList";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}




    <div class="navbar navbar-expand" style="margin-top:50px">
        <partial name="_LoginPartial" />
    </div>

    <h1 style="text-align:center;margin-bottom:10px">SubscriptionType List</h1>

<table class="table table-bordered table-hover table-striped table-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>TypeName</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1" style="width:75px;max-width:100%">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary m-1" style="max-width:100%">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1" style="max-width:100%">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>






