@using Microsoft.AspNetCore.Identity
@using _23._1News.Models.Db;
@model IEnumerable<_23._1News.Models.Db.Article>


@{
    ViewData["Title"] = "Admin-NewsList";
}


<div class="row">
    <div id="left" class="col-md-3">
        <partial name="_AdminSidebarPartialView" />

    </div>


    <div id="right" class=" col-md-9">
        <h1 style="text-align:center">News List</h1>
        <hr />
        <div class="table-responsive small">
            <table class="table table-striped table-sm" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Headline</th>
                        <th scope="col">Category</th>
                        <th scope="col">DateStamp</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageLink)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Headline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateStamp)
                            </td>
                            <td>
                                <a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



















